<!DOCTYPE html>
<html>
  <head>
    <title>jQuery .html DOM XSS Example</title>
    <script src="//code.jquery.com/jquery-1.7.2.min.js"></script>
   </head>
  <body>
<h1 id="target">jQuery .html DOM XSS (without linked sink)</h1>
<br>
<h4>This is an example of a vulnerable DOM XSS page. User input is accepted via the "sink" query parameter"</h4>
<!-- <h4>1. JQuery's .html()</h4> -->
<br><br>
<p class="sink"></p>
<br><br>
<script>document.write(document.location.hash);</script>   
<script>

function getParameterByName(name) {
    name = name.replace(/[\[]/, "\\[").replace(/[\]]/, "\\]");
    var regex = new RegExp("[\\?&]" + name + "=([^&#]*)"),
        results = regex.exec(location.search);
    return results == null ? "" : decodeURIComponent(results[1].replace(/\+/g, " "));
}

$('.sink').html(getParameterByName("sink"))

</script>


</html>
