<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Gabe Marshall</title>
    <link rel="stylesheet" href="components/barekit/css/barekit.css">
    <link rel="shortcut icon" href="images/head.png" type="image/x-icon" />
    <link href=
    "http://designmodo.github.io/Flat-UI/bootstrap/css/bootstrap.css" rel=
    "stylesheet" type="text/css">
    <link href="stylesheets/flat-ui.css" media="all" rel="stylesheet" type=
    "text/css">
    <link href="stylesheets/main.css" media="all" rel="stylesheet" type=
    "text/css">
    <link href='/stylesheets/terminal.css' rel='stylesheet'>
    <link href='http://fonts.googleapis.com/css?family=Press+Start+2P' rel=
    'stylesheet' type='text/css'>

    </head>

    <body style="background-color:#D3D3D3">
        <div class="row text-center">
            <div class="sm-12 md-6 lg-12" style="background: #e1e1e1">
                <div id="section-profileImage" style="background-color:#444444">
                <div class="container">
                    <div class="sixteen columns">
                        <div class="section" id="box-name">
                            <img class="pixelMe ui-widget-content" src="/images/me250.png">

                            <h2>Gabe Marshall</h2>

                            <p>Security Analyst &amp; Web Developer</p><br>
                            <p><a class="twit" href="https://twitter.com/gabemarshall"><img src="images/twitter.png" /></a>
                            <a href="https://www.linkedin.com/pub/gabe-marshall/36/725/a33/"><img src="images/linkedin.png"/></a> <a href="https://www.facebook.com/Gabemarshall"><img src="images/facebook.png"/></a></p>
                        </div>

                    </div>

                    <div class="clear"></div>
                </div>
            </div>
            </div>
        <div id="section-skills"></div>
        <div class="inner-div terminal ui-widget-content" id="term_demo" style="text-align: left;"></div>
        </div>

        <div class="clearfix"></div>
        <script src="javascripts/jquery-1.7.1.min.js"></script>
    	<script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
    	<script src="javascripts/jquery.terminal-min.js"></script>
        <script src="components/barekit/js/barekit.min.js"></script>
        <script src="javascripts/main.js"></script>
    </body>
</html>