<!DOCTYPE html>

<html>
<head>
    <title>Painting Job</title>
</head>

<style>
div.img {
    margin: 5px;
    padding: 5px;
    
    height: auto;
    width: auto;
    float: left;
    text-align: center;
}

div.img img {
-moz-border-radius: 1px;
-webkit-border-radius: 1px;
border-radius: 1px;
/*IE 7 AND 8 DO NOT SUPPORT BORDER RADIUS*/
-moz-box-shadow: 0px 0px 3px #000000;
-webkit-box-shadow: 0px 0px 3px #000000;
box-shadow: 0px 0px 3px #000000;
/*IE 7 AND 8 DO NOT SUPPORT BLUR PROPERTY OF SHADOWS*/

}

div.img a:hover img {
    border:1px solid #0000ff;
}

div.desc {
    text-align: center;
    font-weight: normal;
    width: 120px;
    margin: 5px;
}
</style>
</head>
<body style="background-color:#D3D3D3">
<div class="img">
  <a target="_blank" href="images/paint/1.png">
    <img src="images/paint/1s.png" alt="paint" width="220" height="180">
  </a>
  <div class="desc">Repaint Upper Wall</div>
</div>
<div class="img">
  <a target="_blank" href="images/paint/2.png">
    <img src="images/paint/2s.png" alt="paint" width="220" height="180">
  </a>
  <div class="desc">Repaint Trim Where Needed</div>
</div>
<div class="img">
  <a target="_blank" href="images/paint/3.png">
    <img src="images/paint/3s.png" alt="paint" width="220" height="180">
  </a>
  <div class="desc">Repaint Window Frames Where Needed  </div>
</div>
<div class="img">
  <a target="_blank" href="images/paint/4.png">
    <img src="images/paint/4s.png" alt="paint" width="220" height="180">
  </a>
  <div class="desc">Replace Rotten Boards near A/C</div>
</div>

</body>
</html>