<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
    <link rel="shortcut icon" href="images/head.png" type="image/x-icon" />
     <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
     <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet">
     <link rel="stylesheet" type="text/css" href="resume.css" />
     <title>Gabe Marshall</title>
</head>

<body>

    <nav class="nav">
        <ul id="n" class="clearfix">
            <li><a href="/">Return Home</a></li>
            
        </ul>
    </nav>
    <div id="page-wrap">
    <button class="btn btn-info btn-mini printBtn">Print Resume</button>
        <img src="images/portrait.png" alt="Gabe Marshall" id="pic" class="view"/>
    
        <div id="contact-info" class="vcard">
        
            <!-- Microformats! -->
        
            <h1 class="fn">Gabe Marshall</h1>
        
            <p>
                
                Email: <a class="email" style="border-bottom: 1px dotted #999;" href="mailto:gabemarshall@me.com">gabemarshall@me.com</a>
            </p>
        </div>
                
        <div id="objective">
            <p>
                I am an outgoing and ambitious Infosec professional who loves to build and break things.
            </p>
        </div>
        
        <div class="clear"></div>
        
        <dl>
            
            
            <dd class="clear"></dd>
            
            <dt>Skills Overview</dt>
            <dd>
                <h2>Application Security</h2>
                <p>Strong understanding of Information Security with a focus in penetration testing and secure coding best practices.</p>

                <h2>Application Development</h2>
                <p>Full stack web developer. Experienced in building multiple web applications as well as security tools using either NodeJS, Ruby, or Python.</p>

                <h2>Misc</h2>
                <p>Experienced in writing enterprise security policies, creating security training material, and writing disaster recovery plan documentation.</p>

                
                
            </dd>
            
            <dd class="clear"></dd>
            
            <dt>Experience</dt>
            <dd>
                <h2>Fidelity Investments<span>Penetration Tester - Westlake, TX - March 2013-present</h2>
                <ul>
                    <li>Responsible for conducting end-to-end penetration tests against numerous critical customer facing applications. Works collaboratively with teammates on enterprise wide penetration tests of network infrastructure.</li><li>Maintains working relationships with developers and assists in the resolution of discovered vulnerabilities.</li>
                    <li>Performs penetration tests and code analysis on both native and hybrid iOS applications.</li>
                    <li>Creates proof of concepts to validate zero-day exploits. </li>
                    <li>Assists in the development of application security training videos to improve overall developer security awareness.</li>
                </ul><br>
<br><br><br>
                <h2>University of North Texas <span>Manager of IT Security Compliance & Disaster Recovery Planning - Denton, TX - 2006-2013</span></h2>
                <ul>
                    <li>Responsible for maintaining overall PCI and HIPAA compliance across the entire UNT System. Previously solved several major security compliance issues that required project leadership and management, as well as buy-in from multiple external departments</li>
                    <li>Acting as Team Lead for Disaster Recovery Planning for all IT in the UNT System</li>
                    <li>Developing numerous highly customized data-driven websites built on Sharepoint web services</li>
                </ul>
                                
                <h2>University of North Texas <span>Helpdesk Consultant - Denton, TX - 2005-2006</span></h2>
                <ul>
                    <li>Supported UNT computing systems including: Remedy Action Request System, Student Email, Eaglenet (Wireless Network), PeopleSoft, WebCT Vista and various other systems</li>
                    <li>Assisted end users with configuration and operation of operating systems, web browsers and wireless systems</li>
                </ul> 
            </dd>
            <dd class="clear"></dd>
            
            <dt>Education</dt>
            <dd>
                <h2>University of North Texas - Denton, TX</h2>
                <p><strong>Major:</strong> Emergency Management<br />
                   <strong>Minor:</strong> Business</p>
            </dd>
            <dd class="clear"></dd>

            <dt>Certifications</dt>
            <dd>
                <h2>Certified Web Application Penetration Tester</h2>
                <p>Infosec Institute - 2013</p>
            </dd>
            <dd>
                <h2>Unix and Linux+</h2>
                <p>Infosec Institute - 2013</p>
            </dd>
            <dd class="clear"></dd>
            
            <dt>Hobbies</dt>
            <dd style="font-size:1.2em;">Security research, web development, game development, hackathons, and playing music.</dd>
            
            <dd class="clear"></dd>
            
            <dt>References</dt>
            <dd style="font-size:1.2em;">Available upon request</dd>
            
            <dd class="clear"></dd>
        </dl>
        
        <div class="clear"></div>
    
    </div>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js"></script>
<script>
$('.printBtn').click(function(){
   $('.nav , header, .printBtn').hide();
 window.print();
  $('.nav , header, .printBtn').show();

});

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-35231375-2']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</body>

</html>