<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
    <link rel="shortcut icon" href="images/head.png" type="image/x-icon" />
     <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
     <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet">
     <link rel="stylesheet" type="text/css" href="resume.css" />
     <title>Gabe Marshall</title>

     <style type="text/css">
        * { margin: 0; padding: 0; }
        body { font: 15px Helvetica, Sans-Serif; line-height: 24px; }
        .clear { clear: both; }
        #page-wrap { width: 800px; margin: 40px auto 60px; }
        #pic { float: right; margin: -30px 0 0 0; }
        .view {
        border-style:solid;
        border-color:#EEEEEE;
            border-width: 12px;
            -moz-transform: scale(1) rotate(-5deg) ;
        -webkit-transform: scale(1) rotate(-5deg) ;
        -o-transform: scale(1) rotate(-5deg) ;
        -ms-transform: scale(1) rotate(-5deg) ;
        transform: scale(1) rotate(-5deg); 
        }
        
        h1 { margin: 0 0 16px 0; padding: 0 0 16px 0; font-size: 42px; font-weight: bold; letter-spacing: -2px; border-bottom: 1px solid #999; }
        h2 { line-height: 20px;font-size: 20px; margin: 0 0 6px 0; position: relative; padding-bottom:0px; }
        h2 span { padding-top:5px; display:block; bottom: 0; right: 0; font-style: italic; font-family: Georgia, Serif; font-size: 16px; color: #999; font-weight: normal; }
        p { margin: 0 0 16px 0; }
        a { color: #999; text-decoration: none;  }
        a:hover {  }
        ul { margin: 0 0 32px 17px; }
        #objective { width: 500px; float: left; }
        #objective p { font-family: Georgia, Serif; font-style: italic; color: #666; }
        dt { font-style: italic; font-weight: bold; font-size: 18px; text-align: right; padding: 0 26px 0 0; width: 150px; float: left; height: 100px; border-right: 1px solid #999;  }
        dd { width: 600px; float: right; }
        dd.clear { float: none; margin: 0; height: 15px; }
        .printBtn{
            position:fixed;
            bottom:5px;
            right:5px;
        }
     </style>
</head>

<body>

    <nav class="nav">
        <ul id="n" class="clearfix">
            <li><a href="/">Return Home</a></li>
            
        </ul>
    </nav>
    <div id="page-wrap">
    <button class="btn btn-info btn-mini printBtn">Print Resume</button>
        <img src="images/portrait.png" alt="Gabe Marshall" id="pic" class="view"/>
    
        <div id="contact-info" class="vcard">
        
            <!-- Microformats! -->
        
            <h1 class="fn">Gabe Marshall</h1>
        
            <p>
                
                Email: <a class="email" style="border-bottom: 1px dotted #999;" href="mailto:gabemarshall@me.com">gabemarshall@me.com</a>
            </p>
        </div>
                
        <div id="objective">
            <p>
                I am an outgoing and ambitious Infosec professional, seeking 
                new opportunities that can utilize the skills and experience I have gained throughout my career. My passions include penetration testing, secure application development, and payment card industry (PCI) compliance.
            </p>
        </div>
        
        <div class="clear"></div>
        
        <dl>
            
            
            <dd class="clear"></dd>
            
            <dt>Skills Overview</dt>
            <dd>
                <h2>Application Security</h2>
                <p>Strong understanding of Information Security with a focus in application penetration testing, secure code review, and PCI compliance.</p>

                <h2>Application Development</h2>
                <p>Experienced in creating multiple web applications as well as security tools built with NodeJS, Ruby, and Python.</p>

                <h2>Misc</h2>
                <p>Experienced in writing enterprise security policies, security training material, and disaster recovery plan documentation.</p>

                
                
            </dd>
            
            <dd class="clear"></dd>
            
            <dt>Experience</dt>
            <dd>
                <h2>Fidelity Investments<span>Penetration Tester - Westlake, TX - March 2013-present</h2>
                <ul>
                    <li>Responsible for conducting penetration tests against numerous critical customer facing web applications. Worked collaboratively with teammates on an enterprise wide penetration test of network infrastructure.</li><li>Established working relationships with various developers and assisted in the resolution of discovered vulnerabilities.</li>
                    <li>Developed an automated tool to assist developers in the discovery of application vulnerabilities. Assisted in the development of application security training videos to improve overall developer security awareness.</li>
                    <li>Performed several penetration tests on both native and hybrid iOS applications.</li>
                </ul><br>

                <h2>University of North Texas <span>Manager of IT Security Compliance & Disaster Recovery Planning - Denton, TX - 2006-2013</span></h2>
                <ul>
                    <li>Responsible for maintaining overall PCI and HIPAA compliance across the entire UNT System. Previously solved several major security compliance issues that required project leadership and management, as well as buy-in from multiple external departments</li>
                    <li>Acting as Team Lead for Disaster Recovery Planning for all IT in the UNT System</li>
                    <li>Developing numerous highly customized data-driven websites built on Sharepoint web services</li>
                </ul>
                                
                <h2>University of North Texas <span>Helpdesk Consultant - Denton, TX - 2005-2006</span></h2>
                <ul>
                    <li>Supported UNT computing systems including: Remedy Action Request System, Student Email, Eaglenet (Wireless Network), PeopleSoft, WebCT Vista and various other systems</li>
                    <li>Assisted end users with configuration and operation of operating systems, web browsers and wireless systems</li>
                </ul> 
            </dd>
            <dd class="clear"></dd>
            
            <dt>Education</dt>
            <dd>
                <h2>University of North Texas - Denton, TX</h2>
                <p><strong>Major:</strong> Emergency Management<br />
                   <strong>Minor:</strong> Business</p>
            </dd>
            <dd class="clear"></dd>
            
            <dt>Hobbies</dt>
            <dd style="font-size:1.2em;">Security research, Web development, game development, hackathons, and playing music.</dd>
            
            <dd class="clear"></dd>
            
            <dt>References</dt>
            <dd style="font-size:1.2em;">Available upon request</dd>
            
            <dd class="clear"></dd>
        </dl>
        
        <div class="clear"></div>
    
    </div>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js"></script>
<script>
$('.printBtn').click(function(){
   $('.nav , header, .printBtn').hide();
 window.print();
  $('.nav , header, .printBtn').show();

});

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-35231375-2']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</body>

</html>