html {
    color: #000;
    background: #FFF;
}
.project_details {
    position: fixed;
    top: 20%;
    left: 40%;
    margin-top: -50px;
    margin-left: -100px;
    min-width: 500px;
    min-height: 500px;
    background-color: #FFF;
    font-family: "Open Sans",HelveticaNeue,Helvetica,Arial,sans-serif;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow: 0 0 3px #000;
    -webkit-box-shadow: 0 0 3px #000;
    box-shadow: 0 0 3px #000;
}
.pixelMe {
    position: fixed;
    left: 50px;
}
#project_description { margin: 10px }
.about,
.view { float: right }
#project_title { text-align: center: }
#go_back {
    float: right;
    margin: 5px;
}
.standardNav {
    position: fixed!important;
    overflow: visible;
    top: 0;
    right: 0;
    padding: 5px;
    margin-right: 10px;
    width: 125px;
    z-index: 9999;
}
.standardNav ul {
    display: block;
    margin: 0;
    padding: 0;
    list-style: none;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background: #fff;
    -webkit-box-shadow: 0 0 5px 0 rgba(0,0,0,.3);
    -moz-box-shadow: 0 0 5px 0 rgba(0,0,0,.3);
    box-shadow: 0 0 5px 0 rgba(0,0,0,.3);
    background-color: #fff;
}
.standardNav.left { margin-left: -645px }
.standardNav li { display: block }
.standardNav li a {
    display: block;
    font-weight: 400;
    padding: 8px 10px;
    text-decoration: none;
    color: #666;
    font-size: 12px;
}
.standardNav li a:hover { color: #333 }
.standardNav li.active a {
    font-weight: 700;
    color: #000;
}
blockquote,
body,
code,
dd,
div,
dl,
dt,
fieldset,
form,
h1,
h2,
h3,
h4,
h5,
h6,
input,
legend,
li,
ol,
p,
pre,
td,
textarea,
th,
ul {
    margin: 0;
    padding: 0;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
fieldset,
img { border: 0 }
address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
    font-style: normal;
    font-weight: 400;
}
ol,
ul { list-style: none }
caption,
th { text-align: left }
h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 100%;
    font-weight: 400;
}
q:after,
q:before { content: '' }
abbr,
acronym {
    border: 0;
    font-variant: normal;
}
sup { vertical-align: text-top }
sub { vertical-align: text-bottom }
input,
select,
textarea {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    *font-size: 100%;
}
legend { color: #000 }
#yui3-css-stamp.cssreset { display: none }
.container {
    position: relative;
    width: 960px;
    margin: 0 auto;
    padding: 0;
}
.container .column,
.container .columns {
    float: left;
    display: inline;
    margin-left: 20px;
    margin-right: 20px;
}
.row { margin-bottom: 20px }
.column.alpha,
.columns.alpha { margin-left: 0 }
.column.omega,
.columns.omega { margin-right: 0 }
.container .one.column,
.container .one.columns { width: 20px }
.container .two.columns { width: 80px }
.container .three.columns { width: 140px }
.container .four.columns { width: 200px }
.container .five.columns { width: 260px }
.container .six.columns { width: 320px }
.container .seven.columns { width: 380px }
.container .eight.columns { width: 440px }
.container .nine.columns { width: 500px }
.container .ten.columns { width: 560px }
.container .eleven.columns { width: 620px }
.container .twelve.columns { width: 680px }
.container .thirteen.columns { width: 740px }
.container .fourteen.columns { width: 800px }
.container .fifteen.columns { width: 860px }
.container .sixteen.columns { width: 920px }
.container .offset-by-one { padding-left: 60px }
.container .offset-by-two { padding-left: 120px }
.container .offset-by-three { padding-left: 180px }
.container .offset-by-four { padding-left: 240px }
.container .offset-by-five { padding-left: 300px }
.container .offset-by-six { padding-left: 360px }
.container .offset-by-seven { padding-left: 420px }
.container .offset-by-eight { padding-left: 480px }
.container .offset-by-nine { padding-left: 540px }
.container .offset-by-ten { padding-left: 600px }
.container .offset-by-eleven { padding-left: 660px }
.container .offset-by-twelve { padding-left: 720px }
.container .offset-by-thirteen { padding-left: 780px }
.container .offset-by-fourteen { padding-left: 840px }
.container .offset-by-fifteen { padding-left: 900px }
@media only screen and (min-width:768px) and (max-width:959px) { 
    .container { width: 768px }
    .container .column,
    .container .columns {
        margin-left: 10px;
        margin-right: 10px;
    }
    .column.alpha,
    .columns.alpha {
        margin-left: 0;
        margin-right: 10px;
    }
    .column.omega,
    .columns.omega {
        margin-right: 0;
        margin-left: 10px;
    }
    .alpha.omega {
        margin-left: 0;
        margin-right: 0;
    }
    .container .one.column,
    .container .one.columns { width: 28px }
    .container .two.columns { width: 76px }
    .container .three.columns { width: 124px }
    .container .four.columns { width: 172px }
    .container .five.columns { width: 220px }
    .container .six.columns { width: 268px }
    .container .seven.columns { width: 316px }
    .container .eight.columns { width: 364px }
    .container .nine.columns { width: 412px }
    .container .ten.columns { width: 460px }
    .container .eleven.columns { width: 508px }
    .container .twelve.columns { width: 556px }
    .container .thirteen.columns { width: 604px }
    .container .fourteen.columns { width: 652px }
    .container .fifteen.columns { width: 700px }
    .container .sixteen.columns { width: 748px }
    .container .offset-by-one { padding-left: 48px }
    .container .offset-by-two { padding-left: 96px }
    .container .offset-by-three { padding-left: 144px }
    .container .offset-by-four { padding-left: 192px }
    .container .offset-by-five { padding-left: 240px }
    .container .offset-by-six { padding-left: 288px }
    .container .offset-by-seven { padding-left: 336px }
    .container .offset-by-eight { padding-left: 348px }
    .container .offset-by-nine { padding-left: 432px }
    .container .offset-by-ten { padding-left: 480px }
    .container .offset-by-eleven { padding-left: 528px }
    .container .offset-by-twelve { padding-left: 576px }
    .container .offset-by-thirteen { padding-left: 624px }
    .container .offset-by-fourteen { padding-left: 672px }
    .container .offset-by-fifteen { padding-left: 720px }
}
@media only screen and (max-width:767px) { 
    .container { width: 300px }
    .container .column,
    .container .columns { margin: 0 }
    .container .eight.columns,
    .container .eleven.columns,
    .container .fifteen.columns,
    .container .five.columns,
    .container .four.columns,
    .container .fourteen.columns,
    .container .nine.columns,
    .container .one.column,
    .container .one.columns,
    .container .seven.columns,
    .container .six.columns,
    .container .sixteen.columns,
    .container .ten.columns,
    .container .thirteen.columns,
    .container .three.columns,
    .container .twelve.columns,
    .container .two.columns { width: 300px }
    .container .offset-by-eight,
    .container .offset-by-eleven,
    .container .offset-by-fifteen,
    .container .offset-by-five,
    .container .offset-by-four,
    .container .offset-by-fourteen,
    .container .offset-by-nine,
    .container .offset-by-one,
    .container .offset-by-seven,
    .container .offset-by-six,
    .container .offset-by-ten,
    .container .offset-by-thirteen,
    .container .offset-by-three,
    .container .offset-by-twelve,
    .container .offset-by-two { padding-left: 0 }
}
@media only screen and (min-width:480px) and (max-width:767px) { 
    .container { width: 420px }
    .container .column,
    .container .columns { margin: 0 }
    .container .eight.columns,
    .container .eleven.columns,
    .container .fifteen.columns,
    .container .five.columns,
    .container .four.columns,
    .container .fourteen.columns,
    .container .nine.columns,
    .container .one.column,
    .container .one.columns,
    .container .seven.columns,
    .container .six.columns,
    .container .sixteen.columns,
    .container .ten.columns,
    .container .thirteen.columns,
    .container .three.columns,
    .container .twelve.columns,
    .container .two.columns { width: 420px }
}
.container:after {
    content: "\0020";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.clearfix:after,
.clearfix:before,
.row:after,
.row:before {
    content: '\0020';
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
}
.clearfix:after,
.row:after { clear: both }
.clearfix,
.row { zoom: 1 }
.clear {
    clear: both;
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
}
img.scale-with-grid {
    max-width: 100%;
    height: auto;
}
.bg_alpha5 { background-image: url(/assets/bg_alpha5.png) }
.bg_alpha10 { background-image: url(/assets/bg_alpha10.png) }
.bg_alpha15 { background-image: url(/assets/bg_alpha15.png) }
.bg_alpha20 { background-image: url(/assets/bg_alpha20.png) }
.bg_alpha25 { background-image: url(/assets/bg_alpha25.png) }
.bg_alpha30 { background-image: url(/assets/bg_alpha30.png) }
.bg_alpha35 { background-image: url(/assets/bg_alpha35.png) }
.bg_alpha40 { background-image: url(/assets/bg_alpha40.png) }
.bg_alpha45 { background-image: url(/assets/bg_alpha45.png) }
.bg_alpha50 { background-image: url(/assets/bg_alpha50.png) }
.bg_alpha55 { background-image: url(/assets/bg_alpha55.png) }
.bg_alpha60 { background-image: url(/assets/bg_alpha60.png) }
.bg_alpha65 { background-image: url(/assets/bg_alpha65.png) }
.bg_alpha70 { background-image: url(/assets/bg_alpha70.png) }
.bg_alpha75 { background-image: url(/assets/bg_alpha75.png) }
.bg_alpha80 { background-image: url(/assets/bg_alpha80.png) }
.bg_alpha85 { background-image: url(/assets/bg_alpha85.png) }
.bg_alpha90 { background-image: url(/assets/bg_alpha90.png) }
.bg_alpha95 { background-image: url(/assets/bg_alpha95.png) }
.bg_alpha5_white { background-image: url(/assets/bg_alpha5_white.png) }
.bg_alpha10_white { background-image: url(/assets/bg_alpha10_white.png) }
.bg_alpha15_white { background-image: url(/assets/bg_alpha15_white.png) }
.bg_alpha20_white { background-image: url(/assets/bg_alpha20_white.png) }
.bg_alpha25_white { background-image: url(/assets/bg_alpha25_white.png) }
.bg_alpha30_white { background-image: url(/assets/bg_alpha30_white.png) }
.bg_alpha35_white { background-image: url(/assets/bg_alpha35_white.png) }
.bg_alpha40_white { background-image: url(/assets/bg_alpha40_white.png) }
.bg_alpha45_white { background-image: url(/assets/bg_alpha45_white.png) }
.bg_alpha50_white { background-image: url(/assets/bg_alpha50_white.png) }
.bg_alpha55_white { background-image: url(/assets/bg_alpha55_white.png) }
.bg_alpha60_white { background-image: url(/assets/bg_alpha60_white.png) }
.bg_alpha65_white { background-image: url(/assets/bg_alpha65_white.png) }
.bg_alpha70_white { background-image: url(/assets/bg_alpha70_white.png) }
.bg_alpha75_white { background-image: url(/assets/bg_alpha75_white.png) }
.bg_alpha80_white { background-image: url(/assets/bg_alpha80_white.png) }
.bg_alpha85_white { background-image: url(/assets/bg_alpha85_white.png) }
.bg_alpha90_white { background-image: url(/assets/bg_alpha90_white.png) }
.bg_alpha95_white { background-image: url(/assets/bg_alpha95_white.png) }
body {
    color: #333;
    background: #fff;
    font: 14px/22px "Open Sans",HelveticaNeue,"Helvetica Neue",Helvetica,Arial,sans-serif;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    -webkit-overflow-scrolling: touch;
}
body.homepage { background: #333 }
body.page { background: #ECF0F1 }
h1 {
    font-size: 17px;
    line-height: 20px;
    font-weight: 700;
}
h2 {
    font-size: 18px;
    line-height: 27px;
}
h3 { line-height: 22px }
h4 {
    font-size: 13px;
    line-height: 23px;
}
h6 {
    font-size: 12px;
    line-height: 14px;
}
a,
a:visited {
    color: #333;
    text-decoration: none;
    outline: 0;
}
a:focus,
a:hover { color: #000 }
p a,
p a:visited { line-height: inherit }
::selection {
    background: #1ABC9C;
    color: #fff;
    text-shadow: none;
}
::-moz-selection {
    background: #1ABC9C;
    color: #fff;
    text-shadow: none;
}
.italic,
em { font-style: italic }
strong { font-weight: 700 }
small { font-size: 80% }
.font-color-primary { color: #4ba }
.font-color-gray { color: #bbb }
.font-color-black { color: #111 }
img { max-width: 100% }
h3 {
    font: 400 300 15px/22px 'Open Sans',HelveticaNeue,"Helvetica Neue",Helvetica,Arial,sans-serif;
    margin-bottom: 20px;
}
h5 {
    font: 400 11px/21px 'Open Sans',HelveticaNeue,"Helvetica Neue",Helvetica,Arial,sans-serif;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-bottom: 3px;
}
#section-profileImage {
    background-size: cover;
    height: 440px;
}
#section-profileImage .homepage_background { background: #00B4FF }
#section-profileImage #box-name {
    color: #333;
    font-size: 16px;
    line-height: 26px;
    margin-top: 207px;
    text-align: center;
    z-index: 3;
}
#section-profileImage #box-name h2 {
    color: #fff;
    font-family: 'Press Start 2P';
    font-size: 20px;
    letter-spacing: 1px;
}
#section-profileImage #box-name p {
    color: #fff;
    font-family: 'Press Start 2P';
    font-size: 14px;
    margin-top: 0;
    text-shadow: 0 0 7px #555;
}
#section-profileImage #box-name a { color: #fff }
#section-about {
    color: #fff;
    background: #00AF64;
    padding: 60px 0;
}
#section-skills {
    color: #fff;
    background: #d3d3d3;
    margin: 10px;
}
#section-project-about {
    color: #333;
    background: #ECF0F1;
    padding: 40px 0;
}
#section-form {
    color: #333;
    background: #fff;
    padding: 40px 0;
}
#section-page {
    color: #333;
    background: #ECF0F1;
    padding: 40px 0;
}
#section-page .sheet {
    padding: 60px;
    background: #fff;
    box-shadow: 0 1px 2px -1px #777;
}
#section-notice {
    background: #1ABC9C;
    padding: 40px 0;
    text-align: center;
    color: #fff;
}
#section-notice p { font-size: 16px }
#section-notice a {
    color: #fff;
    text-decoration: underline;
}
#section-blog-snippet {
    background: #fdfdfd;
    color: #333;
    padding: 40px 0;
}
#section-post {
    color: #333;
    background: #fff;
    padding: 40px 0;
}
#section-post h3 {
    line-height: 19px;
    margin-top: 6px;
}
#section-about h3 span.underline,
#section-form h3 span.underline { padding-bottom: 3px }
.about_text,
p.intro {
    color: #fff;
    font: 400 16px/24px 'Open Sans',HelveticaNeue,"Helvetica Neue",Helvetica,Arial,sans-serif;
}
.about_text a {
    text-decoration: underline;
    color: #fff;
}
.about_text p { margin-bottom: 14px }
.about_text p:last-child { margin-bottom: 0 }
.post_text {
    color: #333;
    font: 400 21px/26px Ovo,HelveticaNeue,Georgia,sans-serif;
}
.post_text a {
    text-decoration: underline;
    color: #00b4ff;
}
.post_text p { margin-bottom: 14px }
.post_text p:last-child { margin-bottom: 0 }
.form_text {
    color: #333;
    font: 400 15px/29px 'Open Sans',HelveticaNeue,"Helvetica Neue",Helvetica,Arial,sans-serif;
}
.form_text a,
.form_text a:hover { color: #fff }
#section-projects-display {
    color: #222;
    background: #ECF0F1;
    font: 400 16px/26px 'PT Serif',Georgia,serif;
    padding: 60px 0;
}
h4.big {
    font-family: "Open Sans",HelveticaNeue,Helvetica,Arial,sans-serif;
    font-size: 35px;
    font-weight: 700;
    color: #666;
    padding-bottom: 40px;
}
h4.big_white {
    font-family: "Open Sans",HelveticaNeue,Helvetica,Arial,sans-serif;
    font-size: 35px;
    font-weight: 700;
    color: #fff;
    padding-bottom: 40px;
}
h4.projects_h4,
h4.timeline_h4 { margin-bottom: 12px }
#section-projects-display .img-wrap {
    background: #fff;
    line-height: 0;
    position: relative;
}
#section-projects-display a:hover .item h4 { color: #333 }
#section-projects-display .item p {
    color: #444;
    font: 400 14px/18px 'Open Sans',HelveticaNeue,"Helvetica Neue",Helvetica,Arial,sans-serif;
}
#section-projects-display a:hover .item p { color: #333 }
.reveal-modal-bg {
    position: fixed;
    height: 100%;
    width: 100%;
    background: #000;
    background: rgba(0,0,0,.55);
    z-index: 40;
    display: none;
    top: 0;
    left: 0;
}
.reveal-modal {
    background: #fff;
    visibility: hidden;
    display: none;
    top: 100px;
    left: 50%;
    margin-left: -300px;
    width: 600px;
    position: absolute;
    z-index: 41;
    padding: 0;
}
.reveal-modal .box-modal { padding: 20px 25px }
.reveal-modal .box-modal pre {
    font-size: 14px;
    font-weight: 700;
}
.reveal-modal .box-modal h5 {
    font-size: 21px;
    line-height: 25px;
    font-family: 'Open Sans',HelveticaNeue,"Helvetica Neue",Helvetica,Arial,sans-serif;
    margin-bottom: 15px;
    color: #333;
    font-weight: 700;
    text-transform: none;
    letter-spacing: 0;
}
.reveal-modal .box-modal p {
    color: #333;
    font: 400 14px/18px 'Open Sans',HelveticaNeue,"Helvetica Neue",Helvetica,Arial,sans-serif;
}
.reveal-modal a.link-details {
    display: block;
    color: #333;
    background: #f5f5f5;
    padding: 20px 25px;
    border-top: 1px solid #eee;
    font: 400 11px/21px 'Open Sans',HelveticaNeue,"Helvetica Neue",Helvetica,Arial,sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
}
.reveal-modal a.link-details:hover {
    color: #fff;
    background: #4ba;
}
.reveal-modal a.close-reveal-modal {
    display: block;
    padding: 20px 25px;
    color: #aaa;
    background: #333;
    font: 400 11px/21px 'Open Sans',HelveticaNeue,"Helvetica Neue",Helvetica,Arial,sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    cursor: pointer;
    text-decoration: none;
}
.reveal-modal a.close-reveal-modal:hover {
    color: #4ba;
    background: #222;
}
@media print { 
    .reveal-modal {
        border: solid 1px #000;
        background: #fff;
    }
}
::-webkit-input-placeholder {
    color: #BDC3C7;
    text-overflow: ellipsis;
}
:-moz-placeholder {
    color: #BDC3C7;
    text-overflow: ellipsis;
}
input:-moz-placeholder {
    color: #BDC3C7;
    text-overflow: ellipsis;
}
#section-footer {
    color: #888;
    background: #fff;
    border-top: 1px solid #f3ebeb;
    font: 400 13px/23px 'Open Sans',HelveticaNeue,"Helvetica Neue",Helvetica,Arial,sans-serif;
}
#section-footer-homepage {
    color: #888;
    background: #333;
    border-top: 1px solid #333;
    font: 400 13px/23px 'Open Sans',HelveticaNeue,"Helvetica Neue",Helvetica,Arial,sans-serif;
}
#section-footer p,
#section-footer-homepage p {
    margin-top: 14px;
    margin-bottom: 14px;
}
#section-footer a { color: #888 }
#section-footer-homepage a { color: #eee }
#section-footer a:hover,
#section-footer-homepage a:hover { color: #00B4FF }
.brand_wrapper {
    position: absolute;
    top: 24px;
    left: 14px;
    z-index: 20;
}
.brand_wrapper .brand {
    width: 52px;
    height: 52px;
    opacity: .7;
}
.brand_wrapper .brand:hover { opacity: .9 }
.errors {
    background: #fa565a;
    color: #fff;
    padding: 20px 28px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    margin-bottom: 20px;
    font-weight: 700;
    font-family: "Open Sans",HelveticaNeue,Arial,sans-serif;
    font-size: 16px;
}
body,
html { height: 100% }
.content_wrapper {
    min-height: 100%;
    height: auto!important;
    height: 100%;
    margin: 0 auto -52px;
}
.footer_wrapper,
.push { height: 52px }
.tag_list .project_tag {
    text-transform: lowercase;
    color: #fff;
    background: #00b4ff;
    padding: 2px 4px;
    border-radius: 2px;
    margin-right: 4px;
    font-size: 12px;
}
.tag_list {
    position: relative;
    margin-top: 13px;
}
#section-blog,
#section-colourblock { background-size: cover }
#section-colourblock .heading_box {
    position: relative;
    padding-top: 90px;
    padding-bottom: 90px;
}
#section-blog .heading_box h1,
#section-colourblock .heading_box h1 {
    font: normal bold 36px 'Open Sans',HelveticaNeue,"Helvetica Neue",Helvetica,Arial,sans-serif;
    letter-spacing: 1px;
    text-align: center;
    color: #fff;
    line-height: 1.2em;
}
.float_right {
    float: right;
    color: #b5b5b5;
}
.forgot_password {
    position: relative;
    float: right;
    margin-right: -4px;
    bottom: 24px;
    font-size: 13px;
}
.forgot_password a { color: #666 }
.forgot_password a:hover { color: #333 }
.checkbox_label {
    display: inline-block;
    cursor: pointer;
    position: relative;
    padding-left: 30px;
    margin-right: 15px;
    margin-bottom: 13px;
}
.checkbox_label:before {
    content: "";
    display: inline-block;
    width: 18px;
    height: 18px;
    bottom: 5px;
    margin-right: 10px;
    position: absolute;
    left: 0;
    background-color: #1abc9c;
}
input[type=checkbox] { display: none }
.checkbox_label:before {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
input[type=checkbox]:checked+label:before {
    content: "\2713";
    font-size: 17px;
    color: #fff;
    text-align: center;
    line-height: 15px;
}
.green_background { background: #1ABC9C }
.blue_background { background: #00b4ff }
.black_background { background: #333 }
.clear_background { background: #f5f5f5 }
.submarine_background { background: #0B9097 }
.chocolate_background { background: #1A1202 }
.brown_background { background: #342A14 }
.vanilla_background { background: #F0CE69 }
.helper_text {
    font-size: 13px;
    text-transform: none;
    color: #eee;
    display: block;
    position: relative;
    bottom: 7px;
}
.link_button {
    font-size: 15px;
    text-align: center;
    display: block;
    cursor: pointer;
    color: #fff;
    background: #00b4ff;
    padding: 10px;
    border: none;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    position: relative;
    width: 120px;
}
.link_button a {
    text-decoration: none;
    color: #fff;
}
.link_button a:hover { color: #fff }
#section-nav {
    border-top: 3px solid #00B4FF;
    background: #fff;
    height: 55px;
}
#section-nav .signup_button {
    float: right;
    font-size: 12px;
    text-align: center;
    display: block;
    cursor: pointer;
    color: #777;
    margin-top: 10px;
}
#section-endorsements {
    color: #fff;
    background: #333;
    border-top: 1px solid #222;
    border-bottom: 1px solid #222;
    padding: 60px 0;
}
#jPanelMenu-menu li a {
    background: #333;
    font-size: 16px;
    display: block;
    padding: .5em 5%;
    color: #fff;
}
#jPanelMenu-menu li a:hover {
    background: #fff;
    color: #333;
}
#jPanelMenu-menu {
    background: #333;
    position: relative;
    padding-top: 30px;
}
.popout_menu { display: none }
img.square_brand_mark {
    height: 52px;
    width: 52px;
    border: 5px solid;
    border-color: #fff;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}
.homepage_devices { display: inline-block }
.right { float: right }
.left { float: left }
#section-homepagetop {
    color: #fff;
    padding-bottom: 100px;
    padding-top: 100px;
}
#section-homepagetop .homepage_header {
    position: relative;
    display: inline-block;
    margin-bottom: 40px;
    margin-top: 12px;
}
#section-homepagetop h1 {
    font-size: 58px;
    line-height: 58px;
    margin-bottom: 30px;
}
.homepage_button {
    width: 260px;
    font-size: 19px;
    text-align: center;
    display: block;
    cursor: pointer;
    color: #fff;
    padding: 17px 25px;
    border: none;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    position: relative;
    font-weight: 700;
}
.homepage_button:hover { color: #fff }
.homepage_button:active { top: 1px }
.green {
    background: #1ABC9C;
    box-shadow: 0 1px 0 1px #16A085;
}
.green:hover { background: #18b898 }
.green:active {
    background: #18b898;
    box-shadow: 0 1px 0 0 #16A085;
}
.blue {
    background: #00b4ff;
    box-shadow: 0 1px 0 1px #028cc6;
}
.blue:hover { background: #03b0f8 }
.blue:active {
    background: #03b0f8;
    box-shadow: 0 1px 0 0 #028cc6;
}
.homepage_inner { position: relative }
.orange { background: #f39c12 }
#section-homepagetop {
    background: #333;
    background-size: cover;
}
.homepage_logo {
    height: 110px;
    width: 110px;
    -webkit-border-radius: 55px;
    -moz-border-radius: 55px;
    border-radius: 55px;
    opacity: 1;
    box-shadow: 0 0 0 5px #fff,0 1px 3px 4px #333;
}
.homepage_logo_wrapper {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 110px;
    margin-bottom: 60px;
}
.homepage_inner { text-align: center }
.homepage_tagline {
    margin-top: 30px;
    font-family: Ovo;
}
.homepage_tagline .homepage_button {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 19px;
}
#section-homepagetop .homepage_tagline h1 {
    font-size: 60px;
    line-height: 1em;
    font-weight: 100;
}
#section-homepagetop .tiny_heading_sub {
    position: relative;
    margin-top: 15px;
    font-size: 16px;
}
#section-homepagetop .tiny_heading_sub a {
    text-decoration: underline;
    color: #fff;
}
#section-homepagetop a { color: #fff }
.nav_action {
    position: absolute;
    z-index: 999;
    right: 25px;
    margin-right: 20px;
    color: #fff;
    font-weight: 700;
    font-family: "Open Sans",sans-serif;
    opacity: .7;
    top: 40px;
    cursor: pointer;
}
.nav_action .menu_icon {
    width: 17px;
    height: 10px;
    position: relative;
    top: 0;
    font-size: 15px;
    margin-left: 4px;
    background: #333;
    padding: 5px;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
}
.nav_action a { color: #fff }
.nav_action:hover { opacity: .9 }
#jPanelMenu-menu li a i {
    margin-right: 6px;
    font-size: 19px;
    position: relative;
    top: 1px;
}
.user_button i {
    font-size: 15px;
    position: relative;
    top: 1px;
    margin-right: 2px;
}
#section-homepagebottom {
    color: #333;
    background: #f5f5f5;
    padding: 40px 0;
}
.homepage_slot h2 {
    text-align: center;
    margin-bottom: 5px;
    font-weight: 700;
}
#section-homepagebottom i {
    font-size: 130px;
    color: #1ABC9C;
}
.homepage_slot {
    text-align: center;
    margin-bottom: 40px;
    margin-left: 60px;
    margin-top: 35px;
}
.homepage_slot p { color: #444 }
.homepage_image {
    height: 140px;
    width: 140px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}
.form_tip {
    font-size: 13px;
    color: #666;
    display: block;
    position: relative;
    bottom: 3px;
}
.protect { display: none }
.field_with_errors .message {
    color: #E74C3C;
    display: none;
}
p.delete_link {
    font-size: 13px;
    margin-top: 13px;
}
p.delete_link a {
    text-decoration: underline;
    color: #00b4ff;
}
p.delete_link a:hover { color: #00b4ff }
#section-flash-error {
    color: #fff;
    background: #fa565a;
    padding: 20px 0;
}
#section-flash-notice {
    color: #fff;
    background: #1ABC9C;
    padding: 20px 0;
}
#section-signup {
    color: #333;
    background: #f5f5f5;
    padding: 20px 0;
}
#section-signup p { text-align: center }
#section-signup p a,
#section-signup p a:hover,
#section-signup p a:visited {
    text-decoration: underline;
    color: #00b4ff;
}
#section-flash-error a,
#section-flash-error a:hover,
#section-flash-notice a,
#section-flash-notice a:hover {
    text-decoration: underline;
    color: #fff;
}
#section-flash-error p,
#section-flash-notice p { text-align: center }
#section-footer .float_right { color: #888 }
.jPanelMenu-panel { height: 100% }
pre {
    word-wrap: break-word;
    margin-bottom: 14px;
}
.form_text .delete_button {
    font-size: 13px;
    border: none;
    position: relative;
    margin-top: 16px;
    margin-bottom: 20px;
    color: #555;
}
#section-homepagetop .homepage_tagline .error_page_text h1 { margin-bottom: 40px }
.error_page_text a { text-decoration: underline }
.error_page_text p.error_details {
    font-size: 23px;
    line-height: 27px;
}
.error_page_text p.error_details_small {
    font-size: 19px;
    margin-top: 10px;
}
p.homepage_tagline {
    font-size: 25px;
    line-height: 29px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 43px;
}
.homepage_tagline .block { display: block }
.apply_text a {
    color: #00b4ff;
    text-decoration: underline;
}
.apply_text a:hover { color: #00b4ff }
.powered_by_link:hover .powered_by_text { color: #888 }
.field { margin-bottom: 0 }
.green_button { background: #1ABC9C }
.file_upload_button {
    font-weight: 600;
    font-size: 1.3em;
    text-transform: uppercase;
    text-align: center;
    display: block;
    cursor: pointer;
    color: #fff;
    background: #00b4ff;
    padding: 20px 28px;
    border: none;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    position: relative;
    width: 90%;
    margin-bottom: 47px;
}
.file_upload_button:hover { opacity: .9 }
.submit_button {
    font-size: 19px;
    text-align: center;
    display: block;
    cursor: pointer;
    color: #fff;
    background: #00b4ff;
    padding: 17px 25px;
    border: none;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    position: relative;
    margin-top: 16px;
    right: 2px;
}
.delete_button {
    font-size: 19px;
    text-align: center;
    display: inline-block;
    cursor: pointer;
    color: #fff;
    background: #fa565a;
    padding: 17px 25px;
    border: none;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    position: relative;
    margin-top: 20px;
    right: 2px;
    font-weight: 700;
}
.delete_button:hover {
    color: #fff;
    opacity: .9;
}
.submit_button:hover { opacity: .9 }
.text_field {
    width: 629px;
    padding: 20px 28px;
    font: 700 20px/30px;
    border: none;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    margin-top: 3px;
    margin-bottom: 26px;
    background: #eee;
    outline: 0;
}
.text_field:focus {
    background: #00b4ff;
    color: #fff;
}
.full_width { width: 829px }
.errors { width: 632px }
.big_text {
    font-size: 25px;
    font-weight: 700;
    color: #555;
}
.last { margin-bottom: 10px }
.field label {
    font-size: 15px;
    position: relative;
}
.field_with_errors .text_field { border: 2px solid #E74C3C }
.field_with_errors .text_field:focus { background: #444 }
.social_icons {
    position: relative;
    margin-top: 25px;
    height: 24px;
    opacity: .8;
}
.cog_icon {
    position: relative;
    margin-left: 3px;
}
.social_icon {
    position: relative;
    margin-right: 5px;
    height: 24px;
    width: 24px;
}
.blog_icon {
    height: 24px;
    width: 24px;
    margin-right: 10px;
    position: relative;
}
.instagram_icon {
    height: 22px;
    width: 22px;
    position: relative;
    margin-right: 10px;
    bottom: 1px;
}
.google_plus_icon {
    position: relative;
    top: 1px;
}
#section-works .item p.project_date {
    margin-top: 8px;
    font-size: 12px;
    font-style: italic;
}
#section-timeline {
    color: #222;
    background: #ECF0F1;
    font: 400 16px/21px Ovo,Georgia,serif;
    padding: 80px 0;
}
#section-post-snippets {
    color: #333;
    background: #fff;
    font: 400 18px/25px Ovo,Georgia,serif;
    padding: 60px 0;
    border-bottom: 1px solid #eee;
}
#section-user-search {
    background: #ECF0F1;
    padding: 40px 0;
}
#section-timeline .timeline_card h4 {
    font-size: 21px;
    font-weight: 700;
    text-transform: none;
    letter-spacing: 0;
    color: #333;
    font-family: 'Open Sans',HelveticaNeue,"Helvetica Neue",Helvetica,Arial,sans-serif;
}
#section-timeline h5 {
    font-size: 18px;
    line-height: 20px;
    font-family: 'Open Sans',HelveticaNeue,"Helvetica Neue",Helvetica,Arial,sans-serif;
    text-transform: none;
    letter-spacing: 0;
    margin-top: 4px;
    margin-bottom: 15px;
}
#section-timeline .timecard_dates {
    font-size: 12px;
    color: #555;
    margin-top: 7px;
    margin-bottom: -10px;
}
#section-timeline .timeline_card {
    padding: 25px;
    background: #fff;
    margin-left: 61px;
    border-radius: 1px;
    -moz-border-radius: 1px;
    -webkit-border-radius: 1px;
    margin-bottom: 40px;
    -webkit-box-shadow: 0 1px 4px -1px #888;
    -moz-box-shadow: 0 1px 4px -1px #888;
    box-shadow: 0 1px 4px -1px #888;
    margin-right: 2px;
    width: 73%;
}
.user_timeline .timeline {
    background: url(/assets/spline-1d64170bfb2478ca67f79937605a7a93.png) repeat-y;
    background-position: 6px;
    overflow: hidden;
    position: relative;
}
.timeline_backup:before {
    content: "";
    width: 14px;
    height: 4px;
    background: #00b4ff;
    position: absolute;
    top: 0;
    left: 1px;
}
.user_timeline .timeline:before {
    content: "";
    width: 4px;
    height: 4px;
    background: #00b4ff;
    border-top: 4px solid #ECF0F1;
    border-bottom: 4px solid #ECF0F1;
    position: absolute;
    left: 6px;
    top: 4px;
}
.user_timeline .timeline:after {
    content: " ";
    width: 8px;
    height: 8px;
    display: block;
    background: #00b4ff;
    -webkit-border-radius: 32px;
    -moz-border-radius: 32px;
    border-radius: 32px;
    border: 4px solid #ECF0F1;
    position: relative;
    top: 1px;
}
.user_timeline .timeline_line {
    width: 52px;
    height: 3px;
    background: #00b4ff;
    position: relative;
    top: 13px;
    right: 78px;
}
.user_timeline .timeline_line:before {
    content: " ";
    width: 8px;
    height: 8px;
    display: block;
    background: #ECF0F1;
    position: absolute;
    top: -7px;
    left: -8px;
    -webkit-border-radius: 32px;
    -moz-border-radius: 32px;
    border-radius: 32px;
    border: 4px solid #00b4ff;
}
.add_event_link {
    position: relative;
    margin-bottom: 40px;
}
#section-timeline .active_card:last-child { margin-bottom: 15px }
img.user_avatar {
    height: 66px;
    width: 66px;
    -webkit-border-radius: 33px;
    -moz-border-radius: 33px;
    border-radius: 33px;
    box-shadow: 0 0 0 5px #fff,0 1px 2px 6px #333;
    position: relative;
    background: #fff;
    display: inline-block;
    float: left;
    margin-right: 0;
    margin-bottom: 0;
}
#section-about .user_buttons { margin-bottom: 10px }
#section-about .user_button,
#section-endorsements .user_button {
    width: 86px;
    text-align: center;
    font-size: 12px;
    border: 2px solid #fff;
    border-radius: 3px;
    font-weight: 700;
    margin-bottom: 9px;
    margin-right: 9px;
    display: inline-block;
}
#section-about .user_button a,
#section-endorsements .user_button a {
    color: #fff;
    text-decoration: none;
    display: block;
}
#section-about .activated,
#section-endorsements .activated { border: 2px solid #eae5e5 }
#section-about .activated a,
#section-endorsements .activated a { color: #eae5e5 }
#section-endorsements p.prompt { font-size: 15px }
#section-endorsements p.prompt a {
    color: #fff;
    text-decoration: underline;
}
#section-endorsements p.sub_prompt {
    color: #eee;
    font-size: 15px;
}
#section-endorsements .avatars {
    position: relative;
    margin-top: 10px;
}
#section-timeline .job_button_margin {
    position: relative;
    margin-bottom: 5px;
}
.user_tag {
    background: #fff;
    color: #00AF64;
    text-transform: lowercase;
    padding: 3px 6px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    margin-right: 5px;
    font-size: 14px;
    line-height: 31px;
}
.user_tag_title {
    color: #fff;
    padding: 3px 6px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    margin-right: 5px;
    font-size: 16px;
    line-height: 31px;
}
.cloud_icon {
    height: 26px;
    width: 26px;
    position: relative;
    top: 6px;
    right: 6px;
}
.social_icons a { text-decoration: none }
.social_icons i {
    font-size: 24px;
    position: relative;
    bottom: 3px;
    margin-right: 5px;
}
.social_icons .github_icon i {
    font-size: 28px;
    bottom: 2px;
}
#section-profileImage .default_cover {
    background: #444 url(/assets/1_cover.jpg) no-repeat center center;
    background-size: cover;
    font-size: 90px;
    color: #000;
}
.backup_endorsement_background_colour {
    background: #1ABC9C;
    box-shadow: 0 0 0 5px #fff,0 1px 2px 6px #16a085;
}
#section-about .social_icons a { text-decoration: none }
#section-post-snippets .post_tile h2 {
    font-size: 21px;
    line-height: 28px;
    font-family: "Open Sans",HelveticaNeue,Helvetica,Arial,sans-serif;
    font-weight: 700;
    margin-bottom: 6px;
}
#section-post-snippets p.read_more {
    margin-top: 4px;
    position: relative;
}
#section-post-snippets p.read_more a {
    color: #00b4ff;
    text-decoration: underline;
}
#section-user-search .user_search_result {
    background: #fff;
    cursor: pointer;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    height: 120px;
    width: 740px;
    margin-bottom: 30px;
    font-family: "Open Sans",HelveticaNeue,Helvetica,Arial,sans-serif;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
    -webkit-box-shadow: 0 1px 4px -1px #888;
    -moz-box-shadow: 0 1px 4px -1px #888;
    box-shadow: 0 1px 4px -1px #888;
    overflow: hidden;
    transition: all .7s linear;
}
.wrapper {
    position: relative;
    height: 100%;
}
.outer-div {
    position: absolute;
    bottom: 0;
    width: 100%;
}
.inner-div {
    width: 100px;
    height: 100px;
    background-color: #ccc;
}