html {
    color: #000;
    background: #FFF;
}

.pixelMe {
    position: fixed;
    left: 50px;
}
#project_description { margin: 10px }
.about,
.view { float: right }
#project_title { text-align: center: }
#go_back {
    float: right;
    margin: 5px;
}

#section-profileImage .default_cover {
    background: #444 url(/assets/1_cover.jpg) no-repeat center center;
    background-size: cover;
    font-size: 90px;
    color: #000;
}

#yui3-css-stamp.cssreset { display: none }
.container {
    position: relative;
    width: 960px;
    margin: 0 auto;
    padding: 0;
}
.container .column,
.container .columns {
    float: left;
    display: inline;
    margin-left: 20px;
    margin-right: 20px;
}
.row { margin-bottom: 20px }
.column.alpha,
.columns.alpha { margin-left: 0 }
.column.omega,
.columns.omega { margin-right: 0 }
.container .one.column,
.container .one.columns { width: 20px }
.container .two.columns { width: 80px }
.container .three.columns { width: 140px }
.container .four.columns { width: 200px }
.container .five.columns { width: 260px }
.container .six.columns { width: 320px }
.container .seven.columns { width: 380px }
.container .eight.columns { width: 440px }
.container .nine.columns { width: 500px }
.container .ten.columns { width: 560px }
.container .eleven.columns { width: 620px }
.container .twelve.columns { width: 680px }
.container .thirteen.columns { width: 740px }
.container .fourteen.columns { width: 800px }
.container .fifteen.columns { width: 860px }
.container .sixteen.columns { width: 920px }

@media only screen and (min-width:768px) and (max-width:959px) { 
    .container { width: 768px }
    .container .column,
    .container .columns {
        margin-left: 10px;
        margin-right: 10px;
    }
    .column.alpha,
    .columns.alpha {
        margin-left: 0;
        margin-right: 10px;
    }
    .column.omega,
    .columns.omega {
        margin-right: 0;
        margin-left: 10px;
    }
    .alpha.omega {
        margin-left: 0;
        margin-right: 0;
    }
    .container .one.column,
    .container .one.columns { width: 28px }
    .container .two.columns { width: 76px }
    .container .three.columns { width: 124px }
    .container .four.columns { width: 172px }
    .container .five.columns { width: 220px }
    .container .six.columns { width: 268px }
    .container .seven.columns { width: 316px }
    .container .eight.columns { width: 364px }
    .container .nine.columns { width: 412px }
    .container .ten.columns { width: 460px }
    .container .eleven.columns { width: 508px }
    .container .twelve.columns { width: 556px }
    .container .thirteen.columns { width: 604px }
    .container .fourteen.columns { width: 652px }
    .container .fifteen.columns { width: 700px }
    .container .sixteen.columns { width: 748px }
    .container .offset-by-one { padding-left: 48px }
    .container .offset-by-two { padding-left: 96px }
    .container .offset-by-three { padding-left: 144px }
    .container .offset-by-four { padding-left: 192px }
    .container .offset-by-five { padding-left: 240px }
    .container .offset-by-six { padding-left: 288px }
    .container .offset-by-seven { padding-left: 336px }
    .container .offset-by-eight { padding-left: 348px }
    .container .offset-by-nine { padding-left: 432px }
    .container .offset-by-ten { padding-left: 480px }
    .container .offset-by-eleven { padding-left: 528px }
    .container .offset-by-twelve { padding-left: 576px }
    .container .offset-by-thirteen { padding-left: 624px }
    .container .offset-by-fourteen { padding-left: 672px }
    .container .offset-by-fifteen { padding-left: 720px }
}
@media only screen and (max-width:767px) { 
    .container { width: 300px }
    .container .column,
    .container .columns { margin: 0 }
    .container .eight.columns,
    .container .eleven.columns,
    .container .fifteen.columns,
    .container .five.columns,
    .container .four.columns,
    .container .fourteen.columns,
    .container .nine.columns,
    .container .one.column,
    .container .one.columns,
    .container .seven.columns,
    .container .six.columns,
    .container .sixteen.columns,
    .container .ten.columns,
    .container .thirteen.columns,
    .container .three.columns,
    .container .twelve.columns,
    .container .two.columns { width: 300px }
    .container .offset-by-eight,
    .container .offset-by-eleven,
    .container .offset-by-fifteen,
    .container .offset-by-five,
    .container .offset-by-four,
    .container .offset-by-fourteen,
    .container .offset-by-nine,
    .container .offset-by-one,
    .container .offset-by-seven,
    .container .offset-by-six,
    .container .offset-by-ten,
    .container .offset-by-thirteen,
    .container .offset-by-three,
    .container .offset-by-twelve,
    .container .offset-by-two { padding-left: 0 }
}
@media only screen and (min-width:480px) and (max-width:767px) { 
    .container { width: 420px }
    .container .column,
    .container .columns { margin: 0 }
    .container .eight.columns,
    .container .eleven.columns,
    .container .fifteen.columns,
    .container .five.columns,
    .container .four.columns,
    .container .fourteen.columns,
    .container .nine.columns,
    .container .one.column,
    .container .one.columns,
    .container .seven.columns,
    .container .six.columns,
    .container .sixteen.columns,
    .container .ten.columns,
    .container .thirteen.columns,
    .container .three.columns,
    .container .twelve.columns,
    .container .two.columns { width: 420px }
}
.container:after {
    content: "\0020";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.clearfix:after,
.clearfix:before,
.row:after,
.row:before {
    content: '\0020';
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
}
.clearfix:after,
.row:after { clear: both }
.clearfix,
.row { zoom: 1 }
.clear {
    clear: both;
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
}
img.scale-with-grid {
    max-width: 100%;
    height: auto;
}

body {
    color: #333;
    background: #fff;
    font: 14px/22px "Open Sans",HelveticaNeue,"Helvetica Neue",Helvetica,Arial,sans-serif;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    -webkit-overflow-scrolling: touch;
}
body.homepage { background: #333 }
body.page { background: #ECF0F1 }
h1 {
    font-size: 17px;
    line-height: 20px;
    font-weight: 700;
}
h2 {
    font-size: 18px;
    line-height: 27px;
}
h3 { line-height: 22px }
h4 {
    font-size: 13px;
    line-height: 23px;
}
h6 {
    font-size: 12px;
    line-height: 14px;
}
a,
a:visited {
    color: #333;
    text-decoration: none;
    outline: 0;
}
a:focus,
a:hover { color: #000 }
p a,
p a:visited { line-height: inherit }
::selection {
    background: #1ABC9C;
    color: #fff;
    text-shadow: none;
}
::-moz-selection {
    background: #1ABC9C;
    color: #fff;
    text-shadow: none;
}
.italic,
em { font-style: italic }
strong { font-weight: 700 }
small { font-size: 80% }
.font-color-primary { color: #4ba }
.font-color-gray { color: #bbb }
.font-color-black { color: #111 }
img { max-width: 100% }
h3 {
    font: 400 300 15px/22px 'Open Sans',HelveticaNeue,"Helvetica Neue",Helvetica,Arial,sans-serif;
    margin-bottom: 20px;
}
h5 {
    font: 400 11px/21px 'Open Sans',HelveticaNeue,"Helvetica Neue",Helvetica,Arial,sans-serif;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-bottom: 3px;
}
#section-profileImage {
    background-size: cover;
    height: 440px;
}
#section-profileImage .homepage_background { background: #00B4FF }
#section-profileImage #box-name {
    color: #333;
    font-size: 16px;
    line-height: 26px;
    margin-top: 207px;
    text-align: center;
    z-index: 3;
}
#section-profileImage #box-name h2 {
    color: #fff;
    font-family: 'Press Start 2P';
    font-size: 20px;
    letter-spacing: 1px;
}
#section-profileImage #box-name p {
    color: #fff;
    font-family: 'Press Start 2P';
    font-size: 14px;
    margin-top: 0;
    text-shadow: 0 0 7px #555;
}
#section-profileImage #box-name a { color: #fff }
#section-about {
    color: #fff;
    background: #00AF64;
    padding: 60px 0;
}
#section-skills {
    color: #fff;
    background: #d3d3d3;
    margin: 10px;
}

#section-about h3 span.underline,
#section-form h3 span.underline { padding-bottom: 3px }
.about_text,
p.intro {
    color: #fff;
    font: 400 16px/24px 'Open Sans',HelveticaNeue,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

h4.big {
    font-family: "Open Sans",HelveticaNeue,Helvetica,Arial,sans-serif;
    font-size: 35px;
    font-weight: 700;
    color: #666;
    padding-bottom: 40px;
}
h4.big_white {
    font-family: "Open Sans",HelveticaNeue,Helvetica,Arial,sans-serif;
    font-size: 35px;
    font-weight: 700;
    color: #fff;
    padding-bottom: 40px;
}
h4.projects_h4,
h4.timeline_h4 { margin-bottom: 12px }

.brand_wrapper .brand:hover { opacity: .9 }
.errors {
    background: #fa565a;
    color: #fff;
    padding: 20px 28px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    margin-bottom: 20px;
    font-weight: 700;
    font-family: "Open Sans",HelveticaNeue,Arial,sans-serif;
    font-size: 16px;
}
body,
html { height: 100% }
.content_wrapper {
    min-height: 100%;
    height: auto!important;
    height: 100%;
    margin: 0 auto -52px;
}

p.homepage_tagline {
    font-size: 25px;
    line-height: 29px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 43px;
}
.homepage_tagline .block { display: block }
.apply_text a {
    color: #00b4ff;
    text-decoration: underline;
}
.apply_text a:hover { color: #00b4ff }
.powered_by_link:hover .powered_by_text { color: #888 }
.field { margin-bottom: 0 }
.green_button { background: #1ABC9C }
.file_upload_button {
    font-weight: 600;
    font-size: 1.3em;
    text-transform: uppercase;
    text-align: center;
    display: block;
    cursor: pointer;
    color: #fff;
    background: #00b4ff;
    padding: 20px 28px;
    border: none;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    position: relative;
    width: 90%;
    margin-bottom: 47px;
}
.file_upload_button:hover { opacity: .9 }
.submit_button {
    font-size: 19px;
    text-align: center;
    display: block;
    cursor: pointer;
    color: #fff;
    background: #00b4ff;
    padding: 17px 25px;
    border: none;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    position: relative;
    margin-top: 16px;
    right: 2px;
}
.delete_button {
    font-size: 19px;
    text-align: center;
    display: inline-block;
    cursor: pointer;
    color: #fff;
    background: #fa565a;
    padding: 17px 25px;
    border: none;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    position: relative;
    margin-top: 20px;
    right: 2px;
    font-weight: 700;
}
.delete_button:hover {
    color: #fff;
    opacity: .9;
}
.submit_button:hover { opacity: .9 }
.text_field {
    width: 629px;
    padding: 20px 28px;
    font: 700 20px/30px;
    border: none;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    margin-top: 3px;
    margin-bottom: 26px;
    background: #eee;
    outline: 0;
}
.text_field:focus {
    background: #00b4ff;
    color: #fff;
}
.full_width { width: 829px }
.errors { width: 632px }
.big_text {
    font-size: 25px;
    font-weight: 700;
    color: #555;
}
.last { margin-bottom: 10px }
.field label {
    font-size: 15px;
    position: relative;
}
.field_with_errors .text_field { border: 2px solid #E74C3C }
.field_with_errors .text_field:focus { background: #444 }
.social_icons {
    position: relative;
    margin-top: 25px;
    height: 24px;
    opacity: .8;
}
.cog_icon {
    position: relative;
    margin-left: 3px;
}
.social_icon {
    position: relative;
    margin-right: 5px;
    height: 24px;
    width: 24px;
}
.blog_icon {
    height: 24px;
    width: 24px;
    margin-right: 10px;
    position: relative;
}
.instagram_icon {
    height: 22px;
    width: 22px;
    position: relative;
    margin-right: 10px;
    bottom: 1px;
}
.google_plus_icon {
    position: relative;
    top: 1px;
}
#section-works .item p.project_date {
    margin-top: 8px;
    font-size: 12px;
    font-style: italic;
}
#section-timeline {
    color: #222;
    background: #ECF0F1;
    font: 400 16px/21px Ovo,Georgia,serif;
    padding: 80px 0;
}
#section-post-snippets {
    color: #333;
    background: #fff;
    font: 400 18px/25px Ovo,Georgia,serif;
    padding: 60px 0;
    border-bottom: 1px solid #eee;
}
#section-user-search {
    background: #ECF0F1;
    padding: 40px 0;
}
#section-timeline .timeline_card h4 {
    font-size: 21px;
    font-weight: 700;
    text-transform: none;
    letter-spacing: 0;
    color: #333;
    font-family: 'Open Sans',HelveticaNeue,"Helvetica Neue",Helvetica,Arial,sans-serif;
}
#section-timeline h5 {
    font-size: 18px;
    line-height: 20px;
    font-family: 'Open Sans',HelveticaNeue,"Helvetica Neue",Helvetica,Arial,sans-serif;
    text-transform: none;
    letter-spacing: 0;
    margin-top: 4px;
    margin-bottom: 15px;
}
#section-timeline .timecard_dates {
    font-size: 12px;
    color: #555;
    margin-top: 7px;
    margin-bottom: -10px;
}
#section-timeline .timeline_card {
    padding: 25px;
    background: #fff;
    margin-left: 61px;
    border-radius: 1px;
    -moz-border-radius: 1px;
    -webkit-border-radius: 1px;
    margin-bottom: 40px;
    -webkit-box-shadow: 0 1px 4px -1px #888;
    -moz-box-shadow: 0 1px 4px -1px #888;
    box-shadow: 0 1px 4px -1px #888;
    margin-right: 2px;
    width: 73%;
}
.user_timeline .timeline {
    background: url(/assets/spline-1d64170bfb2478ca67f79937605a7a93.png) repeat-y;
    background-position: 6px;
    overflow: hidden;
    position: relative;
}
.timeline_backup:before {
    content: "";
    width: 14px;
    height: 4px;
    background: #00b4ff;
    position: absolute;
    top: 0;
    left: 1px;
}
.user_timeline .timeline:before {
    content: "";
    width: 4px;
    height: 4px;
    background: #00b4ff;
    border-top: 4px solid #ECF0F1;
    border-bottom: 4px solid #ECF0F1;
    position: absolute;
    left: 6px;
    top: 4px;
}
.user_timeline .timeline:after {
    content: " ";
    width: 8px;
    height: 8px;
    display: block;
    background: #00b4ff;
    -webkit-border-radius: 32px;
    -moz-border-radius: 32px;
    border-radius: 32px;
    border: 4px solid #ECF0F1;
    position: relative;
    top: 1px;
}
.user_timeline .timeline_line {
    width: 52px;
    height: 3px;
    background: #00b4ff;
    position: relative;
    top: 13px;
    right: 78px;
}
.user_timeline .timeline_line:before {
    content: " ";
    width: 8px;
    height: 8px;
    display: block;
    background: #ECF0F1;
    position: absolute;
    top: -7px;
    left: -8px;
    -webkit-border-radius: 32px;
    -moz-border-radius: 32px;
    border-radius: 32px;
    border: 4px solid #00b4ff;
}
.add_event_link {
    position: relative;
    margin-bottom: 40px;
}
#section-timeline .active_card:last-child { margin-bottom: 15px }
img.user_avatar {
    height: 66px;
    width: 66px;
    -webkit-border-radius: 33px;
    -moz-border-radius: 33px;
    border-radius: 33px;
    box-shadow: 0 0 0 5px #fff,0 1px 2px 6px #333;
    position: relative;
    background: #fff;
    display: inline-block;
    float: left;
    margin-right: 0;
    margin-bottom: 0;
}
#section-about .user_buttons { margin-bottom: 10px }
#section-about .user_button,
#section-endorsements .user_button {
    width: 86px;
    text-align: center;
    font-size: 12px;
    border: 2px solid #fff;
    border-radius: 3px;
    font-weight: 700;
    margin-bottom: 9px;
    margin-right: 9px;
    display: inline-block;
}
#section-about .user_button a,
#section-endorsements .user_button a {
    color: #fff;
    text-decoration: none;
    display: block;
}
#section-about .activated,
#section-endorsements .activated { border: 2px solid #eae5e5 }
#section-about .activated a,
#section-endorsements .activated a { color: #eae5e5 }
#section-endorsements p.prompt { font-size: 15px }
#section-endorsements p.prompt a {
    color: #fff;
    text-decoration: underline;
}
#section-endorsements p.sub_prompt {
    color: #eee;
    font-size: 15px;
}
#section-endorsements .avatars {
    position: relative;
    margin-top: 10px;
}
#section-timeline .job_button_margin {
    position: relative;
    margin-bottom: 5px;
}
.user_tag {
    background: #fff;
    color: #00AF64;
    text-transform: lowercase;
    padding: 3px 6px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    margin-right: 5px;
    font-size: 14px;
    line-height: 31px;
}
.user_tag_title {
    color: #fff;
    padding: 3px 6px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    margin-right: 5px;
    font-size: 16px;
    line-height: 31px;
}

.wrapper {
    position: relative;
    height: 100%;
}
.outer-div {
    position: absolute;
    bottom: 0;
    width: 100%;
}
.inner-div {
    width: 100px;
    height: 100px;
    background-color: #ccc;
}